<div class="container">
    <h1 class="page-header text-center">Coordinator Login</h1>
    <div class="container-decorated decorate-warning clearfix">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
        </div>
      
        <div class="field form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        
        <div class="field form-group">
            <%= f.label :remember_me, class: 'checkbox inline' do %>
                <%= f.check_box :remember_me, style:'margin-left:0px;position:relative;' %>
                <span>Remember me on this computer</span>
            <% end %>
        </div>
      
        <div class="actions clearfix">
          <%= link_to 'Back', URI(request.referer || '').path, class:'btn-lg btn btn-link' %>
          <%= link_to 'Register', signup_path, class:'btn-lg btn btn-info' %>
          
          <div class="pull-right">
            <%= f.submit 'Login', class: 'btn btn-success btn-lg' %>
          </div>
    
        </div>
      <% end %>
    </div>

</div>