<div class="container">
    <h1 class="page-header text-center">Administrator Login</h1>
    <div class="container-decorated decorate-info clearfix">
      <%= form_for(:admin, url: admin_path) do |f| %>
        <div class="field form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
        </div>
      
        <div class="field form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        
        <div class="actions clearfix">
          <%= link_to 'Back', URI(request.referer || '').path, class:'btn-lg btn btn-link' %>

          <div class="pull-right">
            <%= f.submit 'Login', class: 'btn btn-success btn-lg' %>
          </div>
        </div>
      <% end %>
    </div>
</div>