<div class="container">
    <h1 class="page-header">Administration Panel</h1>
    <p><i>Choose an action:</i></p>
    <ol>
        <li><%= link_to "Manage Users", users_path %></li>
        <li><%= link_to "Manage Courses", courses_path %></li>
        <li><%= link_to "Manage Locations", locations_path %></li>
        <li><%= link_to "Manage Categories", categories_path %></li>
    </ol>
</div>