<% provide(:title, "Home") %>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Computer Science Course Manager</h1>
        <%= link_to (fa_icon('user-plus') + ' Sign up now'), signup_path, class: 'btn btn-success btn-lg' %>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h2>View Courses as Guest User</h2>
            <p>
                Browse and view courses as a guest and sign up later.
            </p>
            <%= link_to (fa_icon('book') + ' Browse all courses'), courses_path, class: 'btn btn-info' %>
        </div>
        <div class="col-sm-7">
            <h2>Sign in to your account</h2>
            <p>
                Update your courses, rate courses, view coordinator information.
            </p>
            <%= link_to (fa_icon('sign-in') + ' Log in to your account'), login_path, class: 'btn btn-success' %>
        </div>
    </div>
</div>