<% if user.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(user.errors.count, "error") %> occurred:</h4>

    <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container-decorated decorate-warning clearfix">
  <%= form_for(user) do |f| %>
    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>
  
    <div class="field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
    </div>
  
    <div class="field form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
  
    <div class="actions clearfix">
      <%= link_to 'Back', URI(request.referer || '').path, class:'btn-lg btn btn-link' %>
      <% if(@user.id != nil) %>
        <%= link_to 'Show', @user, class: 'btn btn-lg btn-info' %>
      <% end %>
      
      <div class="pull-right">
        <%= f.submit (user.id == nil ? 'Register Account' : 'Edit User'), class: 'btn btn-success btn-lg' %>
      </div>

    </div>
  <% end %>
</div>