<div class="container">
  <h4 class="text-uppercase">Coordinator</h4>
  <h1 class="page-header" style="margin-top:-10px;"><%= @user.name %></h1>
  <div class="text-center">
    <%= gravatar_for(@user, {size: 200, class: 'img-circle'}) %>
  </div>
  <hr/>
  <% if @courses.length < 1 %>
    <p>There are no courses to display.</p>
  <% else %>
  <% @courses.each do |course| %>
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <div class="well">
        <h4><%= link_to course.name, course_path(course) %></h4>
        <p>
          <b>Prerequisite: </b> <%= course.prerequisite %>
        </p>
        <p>
          <small>Created <%= time_ago_in_words(course.created_at) %> ago</small>
        </p>
        <% if(logged_in?) %>
        <div class="clearfix">
          <div class="pull-right">
            <%= form_tag(controller: "courses", action: "vote", method: "POST") do %>
              <%= hidden_field_tag "course_id", course.id %>
              <%= button_tag(type: "submit", value: "1", name: "vote_type", class: "btn btn-lg btn-link") do %>
                <span class="glyphicon glyphicon-thumbs-up"></span> <%= course.votes_of_type(1).length %>
              <% end %>
              <%= button_tag(type: "submit", value: "0", name: "vote_type", class: "btn btn-lg btn-link") do %>
                <span class="glyphicon glyphicon-thumbs-down"></span> <%= course.votes_of_type(0).length %>
              <% end %>
              <% if !current_user.nil? && current_user.admin? %>
                <%= link_to 'Reset', course, method: :resetVotes, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-xs" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>