<div class="container text-center">
    <div class="jumbotron">
        <h1>Error 404</h1>
        <h3>Please contact the system administrator if you think you should not be seeing this page.</h2>
    </div>
</div>