<% if logged_in? %>  
  <% if course.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
  
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-decorated decorate-warning clearfix">
    <%= form_for(course) do |f| %>
      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
    
      <div class="field form-group">
        <%= f.label :prerequisite %>
        <%= f.text_field :prerequisite, class: 'form-control', placeholder: 'Prerequisite' %>
      </div>
      
      <div class="field form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
      </div>
    
      <div class="field form-group">
        <%= f.label :category%>: 
        <%= f.label "No categories in the system" if (@categories.count == 0) %>
        <%= f.collection_check_boxes(:category_ids, Category.order(:name), :id, :name) do |category| %>
          <div class="collection-check-box">
            <%= category.check_box %>
            <%= category.label %>
          </div>
        <% end %>
      </div>
      
      <div class="field form-group">
        <%= f.label :location%>: 
        <%= f.label "No locations in the system" if (@locations.count == 0) %>
        <%= f.collection_check_boxes(:location_ids, Location.order(:name), :id, :name) do |location| %>
          <div class="collection-check-box">
            <%= location.check_box %>
            <%= location.label %>
          </div>
        <% end %>
      </div>
      
      <div class="field form-group">
        <%= f.file_field :imgtemp %>
        
      </div>
      
      <div class="actions clearfix">
        <%= link_to 'Back', URI(request.referer || '').path, class:'btn-lg btn btn-link' %>
        <% if(@course.id != nil) %>
          <%= link_to 'Show', @course, class: 'btn btn-lg btn-info' %>
        <% end %>
  
        <div class="pull-right">
          <%= f.submit (course.id == nil ? 'Create course' : 'Edit course'), class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
