<div class="container">
  <h1 class="page-header text-center"><%= @course.name %></h1>
  
  <div class="row">
    <div class="col-md-9">
      <div class="well">
        <p>
          <b>Prerequisite: </b> <%= @course.prerequisite %>
        </p>
        <p>
          <b>Category: </b>
            <% @course.categories.each do |category| %>
              <%= link_to category.name, category_path(category), class: 'btn btn-info btn-xs' %>
            <% end %>
        </p>
        <p>
          <b>Location: </b>
            <% @course.locations.each do |location| %>
              <%= link_to location.name, location_path(location), class: 'btn btn-primary btn-xs' %>
            <% end %>
        </p>
        <p>
          <b>Course Description: </b><br/>
          <%= @course.description %>
        </p>
        <% if(!@course.img.nil?) %>
        <div class="text-center">
          <%= image_tag(image_path("#{@course.img}"), :alt => "#{@course.name}", :class => "img-responsive") %>
        </div>
        <% end %>
        <hr/>
        <p>
          <small>Created <%= time_ago_in_words(@course.created_at) %> ago</small>
        </p>
        <% if(logged_in?) %>
        <div class="clearfix">
          <div class="pull-right">
            <%= form_tag(controller: "courses", action: "vote", method: "POST") do %>
              <%= hidden_field_tag "course_id", @course.id %>
              <%= button_tag(type: "submit", value: "1", name: "vote_type", class: "btn btn-lg btn-link") do %>
                <span class="glyphicon glyphicon-thumbs-up"></span> <%= @course.votes_of_type(1).length %>
              <% end %>
              <%= button_tag(type: "submit", value: "0", name: "vote_type", class: "btn btn-lg btn-link") do %>
                <span class="glyphicon glyphicon-thumbs-down"></span> <%= @course.votes_of_type(0).length %>
              <% end %>
              <% if !current_user.nil? && current_user.admin? %>
                <%= link_to 'Reset', @course, method: :resetVotes, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-xs" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 text-center" style="padding-top:10px;">
      <% if(@course.user != nil) %>
        <%= gravatar_for(@course.user, {size: 120, class: 'img-circle'}) %>
        <h5 class="text-uppercase" style="margin-bottom:0px;">Coordinator</h4>
        <p><%= @course.user.name %></p>
      <% end %>
      
      <% if(logged_in? && current_user.id == @course.created_by) %>
      <%= link_to "Edit", edit_course_path(@course), class: "btn btn-success" %>
      <% end %>
      <%= link_to 'Back', courses_path, class: "btn btn-primary" %>
      <% if(!current_user.nil? && current_user.admin?) %>
        <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>