 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 
 @mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
 
 body {
     padding-top:50px;
     font-family:'Roboto', sans-serif;
 }
 
 body > .container {
  padding-top:20px;
 }
 
 .unavailable {
  font-size:0.9em;
 }
 
 .unavailable a:hover {
  background-color: transparent !important;
 }
 
 footer {
     background-color:#f5f5f5;
     width:100%;
     padding:20px 0px;
     margin-top:30px;
 }
 
 .btn-block {
     display:block;
     text-align:left;
 }
 
 .container-decorated {
     padding: 20px;
     margin: 20px 0;
     border: 1px solid #eee;
     border-left-width: 5px;
     
 
     &.decorate-danger {
     border-left-color: #ce4844;
     }
     &.decorate-danger h4 {
     color: #ce4844;
     }
     &.decorate-warning {
     border-left-color: #aa6708;
     }
     &.decorate-warning h4 {
     color: #aa6708;
     }
     &.decorate-info {
     border-left-color: #1b809e;
     }
     &.decorate-info h4 {
     color: #1b809e;
     }
 }


.collection-check-box .field_with_errors {
 display:inline-block;
}

.nav-pills .btn-success:hover, .nav-pills .btn-success:focus {
 background-color:#449d44 !important;
}

.nav-pills .btn-warning:hover, .nav-pills .btn-warning:focus {
 background-color:#ec971f !important;
}