<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-decorated decorate-info">
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'input-lg form-control' %>
  </div>

  <div class="actions clearfix">
    <%= link_to 'Back', URI(request.referer || '').path, class:'btn-lg btn btn-link' %>
    <% if(@category.id != nil) %>
      <%= link_to 'Show', @category, class: 'btn btn-lg btn-info' %>
    <% end %>

    <div class="pull-right">
        <%= f.submit (category.id == nil ? 'Create Category' : 'Edit Category'), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
<% end %>
