<div class="container">
  <h1 class="page-header">Categories</h1>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to 'Show', category, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_category_path(category), class: "btn btn-warning" %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Category', new_category_path, class: "btn btn-success btn-lg" %>
</div>