<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-decorated">
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control input-lg' %>
  </div>

  <div class="actions clearfix">
    <%= link_to 'Back', URI(request.referer || '').path, class:'btn-lg btn btn-link' %>
    <% if(@location.id != nil) %>
      <%= link_to 'Show', @location, class: 'btn btn-lg btn-info' %>
    <% end %>

    <div class="pull-right">
      <%= f.submit (location.id == nil ? 'Create Location' : 'Edit Location'), class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>
<% end %>
