<div class="container">
  <h1 class="page-header">Locations</h1>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.name %></td>
          <td><%= link_to 'Show', location, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_location_path(location), class: "btn btn-warning" %>
          <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Location', new_location_path, class: "btn btn-lg btn-success" %>
</div>