<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'CSMS', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="nav-links">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <% @categories.each do |category| %>
               <li><%= link_to category.name, category %></li>
             <% end %>
             <%= '<li class="unavailable"><a class="text-uppercase"><b>No Categories</b></a></li>'.html_safe if (@categories.count == 0) %>
             <% if logged_in? %>
               <li role="separator" class="divider"></li>
               <li><%= link_to 'New Category', new_category_path %></li>
             <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <% @locations.each do |location| %>
               <li><%= link_to location.name, location %></li>
             <% end %>
             <%= '<li class="unavailable"><a class="text-uppercase"><b>No Locations</b></a></li>'.html_safe if (@locations.count == 0) %>
             <% if logged_in? %>
                <li role="separator" class="divider"></li>
               <li><%= link_to 'New Location', new_location_path %></li>
             <% end %>
          </ul>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user[:name] %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if current_user.admin %>
               <li><%= link_to "Administration Panel", admin_panel_path %></li>
              <% end %>
               <li><%= link_to "View Profile", user_path(current_user) %></li>
               <% if !current_user.admin? %>
               <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
               <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><%= link_to 'Coordinator', login_path %></li>
                <li><%= link_to 'Administrator', admin_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>