<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <% flash.each do |message_type, message| %>
      <div class="container">
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      </div>
    <% end %>

    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
